---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>


  <section class="content">

    <h1>KIMURA TRAP</h1>
    <hr />
    <h1>KIMURA DVDS</h1>

    <a
      href="https://onedrive.live.com/?id=EE28CE3B038962B3%21102471&cid=EE28CE3B038962B3"
      >GORDON KIMURA DVD</a
    >

    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%21101487&parId=EE28CE3B038962B3%21101466&o=OneUp"
      target="_blank">Sloppy half guard</a
    >
    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%21102359&parId=EE28CE3B038962B3%21101490&o=OneUp"
      target="_blank">Kieran Half guard</a
    >

    <a href="https://www.bilibili.com/video/BV1ag4y1L7Jy?p=1" target="_blank"
      >DANAHER KIMURA</a
    >
    <a
      href="https://onedrive.live.com/?id=EE28CE3B038962B3%21101509&cid=EE28CE3B038962B3"
      target="_blank">GORDON SIDE CONTROL</a
    >
    <a
      href="https://onedrive.live.com/?id=EE28CE3B038962B3%2139614&cid=EE28CE3B038962B3"
      target="_blank">DANAHER SIDE CONTROL</a
    >
    <a
      href="https://onedrive.live.com/?id=EE28CE3B038962B3%2140246&cid=EE28CE3B038962B3"
      target="_blank">DANAHER MOUNT</a
    >
    <a
      href="https://onedrive.live.com/?id=EE28CE3B038962B3%2198217&cid=EE28CE3B038962B3"
      target="_blank">GIANCARLO MOUNT AND SIDE</a
    >
    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%21101467&parId=EE28CE3B038962B3%21101490&o=OneUp"
      target="_blank">TARIKOPLATA</a
    >
    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%21101472&parId=EE28CE3B038962B3%21101490&o=OneUp"
      target="_blank">FIRAS TOP</a
    >
    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%21101468&parId=EE28CE3B038962B3%21101490&o=OneUp"
      target="_blank">FIRAS BOTTOM</a
    >
    <a
      href="https://onedrive.live.com/?id=EE28CE3B038962B3%2198667&cid=EE28CE3B038962B3"
      target="_blank">GORDON TRIANGLE</a
    >
    <a
      href="https://onedrive.live.com/?id=EE28CE3B038962B3%2139641&cid=EE28CE3B038962B3"
      target="_blank">DANAHER TRIANGLE</a
    >

    <hr />
    <h1>YOUTUBE</h1>
    <a
      href="https://www.youtube.com/playlist?list=PL5N8UKodqMkb9KBjTcVYnCd-hE71xTT5G"
      target="_blank">YOUTUBE</a
    >

    <h2>MOUNT-BACK HEAD AND ARM (GIFTWRAP KIMURA)</h2>

    <h3>TRIANGLE</h3>
    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2198668&parId=EE28CE3B038962B3%2198667&o=OneUp"
      target="_blank">Gordon Ryan Triangle DVD at 5:54</a
    >

    <a
      href="https://1drv.ms/v/s!ArNiiQM7zijuhocPOIz2dk5u6HH12A?e=2XwyCk"
      target="_blank">GORDON MOUNT DVD->32:37</a
    >

    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2140286&parId=EE28CE3B038962B3%2140246&o=OneUp"
      target="_blank">DANAHER FIGURE 4 ARM WRAP-> 1:31:33</a
    >

    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2140286&parId=EE28CE3B038962B3%2140246&o=OneUp"
      target="_blank">danaher armbar from triangle attempt (mount)-> 1:38:10</a
    >

    <h3>BACK CONTROL</h3>

    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2199215&parId=EE28CE3B038962B3%2199209&o=OneUp"
      target="_blank">gordon mount to back-> 28:50</a
    >

    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2140285&parId=EE28CE3B038962B3%2140246&o=OneUp"
      target="_blank">danaher mount to back</a
    >
    <hr />

    <h2>SIDE CONTROL</h2>

    <h3>TARIKOPLATA(legs) and NORMAL (hands)</h3>
    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%21101515&parId=EE28CE3B038962B3%21101509&o=OneUp"
      target="_blank">GORDON RYAN-TARIKOPLATA (SIDE CONTROL DVD)- 42.44</a
    >
    <a
      href="https://www.bilibili.com/video/BV1ag4y1L7Jy/?spm_id_from=333.337.search-card.all.click"
      target="_blank"
      >DANAHER-TARIKOPLATA AND CROSS KIMURA (KIMURA DVD)->0 for hands and 7:53
      for legs</a
    >
    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2139688&parId=EE28CE3B038962B3%2139614&o=OneUp"
      target="_blank"
      >DANAHER-TARIKOPLATA(SIDE CONTROL DVD)-> 0:hands, 15:21->legs</a
    >
    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2198309&parId=EE28CE3B038962B3%2198217&o=OneUp"
      target="_blank">GIANCARLO DVD-KIMURA FROM SIDE CONTROL OVERVIEW</a
    >
    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%21101467&parId=EE28CE3B038962B3%21101490&o=OneUp"
      target="_blank">TARIK HOPSTOCK</a
    >

    <h3>SIDE TRIANGLE</h3>
    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%21101515&parId=EE28CE3B038962B3%21101509&o=OneUp"
      target="_blank">GORDON-SIDE TRIANGLE (TRIANGLE DVD)-22:03</a
    >
    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2139688&parId=EE28CE3B038962B3%2139614&o=OneUp"
      target="_blank">DANAHER SIDE TRIANGLE(SIDE CONTROL DVD)-24:30</a
    >

    <h3>SEATED HEAD AND ARM</h3>
    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2139687&parId=EE28CE3B038962B3%2139614&o=OneUp"
      target="_blank">DANAHER SIDE CONTROL DVD</a
    >
    <a href="https://www.bilibili.com/video/BV1ag4y1L7Jy?p=2"
      >DANAHER KIMURA DIVD- 39:18</a
    >
    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%21101519&parId=EE28CE3B038962B3%21101509&o=OneUp"
      target="_blank">GORDON SIDE CONTROL DVD</a
    >

    <hr />
    <h2>TOP HALF</h2>

    <h3>T KIMURA</h3>
    <a href="">ENTRY->DANAHER KIMURA DVD</a>
    <a href="https://www.bilibili.com/video/BV1ag4y1L7Jy?p=3" target="_blank"
      >DANAHER KIMURA DVD->BOTTOM KNEE</a
    >
    <a href="https://www.bilibili.com/video/BV1ag4y1L7Jy?p=3" target="_blank"
      >DANAHER-TOP KNEE- 38:49</a
    >

    <hr />
    <h2>CLOSED GUARD</h2>
    <h3>TRIMURA</h3>

    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2197836&parId=EE28CE3B038962B3%2197835&o=OneUp"
      target="_blank"
      >TRIMURA->DANAHER CLOSED GUARD- 0 for clamp,21:19->trimura</a
    >
    <a href="https://www.bilibili.com/video/BV1ag4y1L7Jy?p=8" target="_blank"
      >TRIMURA->DANAHER KIMURA DVD-14:29</a
    >

    <hr />
  </section>
</MainLayout>
