---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="content">
    <a
      href="https://onedrive.live.com/?id=EE28CE3B038962B3%2198682&cid=EE28CE3B038962B3"
      >Triangle Choke onedrive folder</a
    >

    <a
      href="https://www.youtube.com/watch?v=zPUhPpnFJhY&list=PL5N8UKodqMkbiw8HEm2tOIY9uY3QiJhfN"
      >Triangle Choke Youtube playlist</a
    >

    <a
      href="https://www.youtube.com/watch?v=aPTMd7n1Vkw&list=PLRvZgzlWmN3ebQIquyTwesOGJNhKZB1yY"
      >Triangle choke yt sweet science playlist</a
    >

    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2140283&parId=EE28CE3B038962B3%2140246&o=OneUp"
      >danaher mount-part 1</a
    >

    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2140286&parId=EE28CE3B038962B3%2140246&o=OneUp"
      >danaher mount part 2</a
    >

    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2139690&parId=EE28CE3B038962B3%2139614&o=OneUp"
      >danaher side control shin pin</a
    >

    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2198311&parId=EE28CE3B038962B3%2198217&o=OneUp"
      >giancarlo side control hantai sankaku</a
    >

    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2198316&parId=EE28CE3B038962B3%2198217&o=OneUp"
      >giancarlo mount->controlling mount and arm trianle</a
    >
    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2198315&parId=EE28CE3B038962B3%2198217&o=OneUp"
      >giancarlo mount-triangle</a
    >
  </section>
</MainLayout>
