* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main{
font-size:2rem;
}

/* body{
    background-color: red;
} */

nav,
.navbar-brand,
.dropdown-item {
  font-size: 2rem;
}


p,ul{
    font-size:2rem ;
}
.content{
    padding:1rem;
}
/* kimura and triangle */

a {
  display: block;
  margin-bottom: 20px;
}

h2 {
  color: green;
}