---
import MainLayout from "../../../layouts/MainLayout.astro";
---

<MainLayout>

<section>
    <a href="https://onedrive.live.com/redir?resid=EE28CE3B038962B3%2139264&page=Edit&wd=target%28WORK%20ON_DRILL.one%7C13fc53b2-d33c-4f7a-bf75-c54106a70766%2FUntitled%20Page%7C33be50bc-d20e-427c-82fe-37dc7f2bf9bf%2F%29&wdorigin=NavigationUrl" target="_blank">Onedrive</a>
</section>



</MainLayout>