---
import MainLayout from "../../../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="content">
    <h2>vs jesse:</h2>
    <p>-Finishing X guard -establishing position</p>
  </section>

  <section class="content">
    <h2>vs mac</h2>

    <p>
      <a
        href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2198668&parId=EE28CE3B038962B3%2198667&o=OneUp"
        target="_blank"
      >
        Finishing from back -Seated Head and Arm-From 16:43</a
      >
    </p>

    <p>
      -paying more attention and sticking to a gameplan when guard passing -DONT
      FALL FOR T KIMURA WHEN YOU HAVE KIMURA FROM SIDE CONTROL
    </p>

    <p>
      <a
        href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%21102520&parId=EE28CE3B038962B3%21102471&o=OneUp"
      >
        - Kimura from side control
      </a>
    </p>

    <p>
      <a
        href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2198668&parId=EE28CE3B038962B3%2198667&o=OneUp"
      >
        -finishing from back->straight jacket/rear triangle from 27:08</a
      >
    </p>
  </section>

  <hr />

  <section class="content">
    <h2>TALL GUY</h2>

    <p>
      -mounted head and arm
      <ul>
        <li>
          <a
            href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2140286&parId=EE28CE3B038962B3%2140246&o=OneUp"
            >Danaher-from 1:09:58</a
          >
        </li>

        <li>
          <a
            href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%21100532&parId=EE28CE3B038962B3%2198667&o=OneUp"
            >Gordon Mount to Rear Triangle</a
          >
        </li>

        <li>
          <a
            href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2198669&parId=EE28CE3B038962B3%2198667&o=OneUp"
            >Shin pins to mount head and arm from 29:34</a
          >
        </li>
      </ul>
    </p>

    <p>-when you take back->solidify it</p>

    <p>
      <a
        href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2198668&parId=EE28CE3B038962B3%2198667&o=OneUp"
      >
        you had ankle triangle->but had trouble finishing it: from 5:54</a
      >
    </p>
  </section>

  <section class="content">
    <h2></h2>
    <p></p>
  </section>

  <section class="content">
    <h2>vs Anthony</h2>
    <p>-Same side reach</p>
    <p>
      <a
        href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%21101519&parId=EE28CE3B038962B3%21101509&o=OneUp"
      >  -going from back head and arm without leg in(from side control) to back,0:
      get kimura, 910:back head and arm, 1357:back take</a>
    

      <span style="display: block;"> I need to keep him tight to me</span>
     
    </p>
  </section>
</MainLayout>
