---
import MainLayout from "../../../layouts/MainLayout.astro";
---


<MainLayout>

    <section class="content">
<h1>BJJ JOURNEY</h1>

<h2>DATE: NOVEMBER 23RD 2023</h2>
<p>So, I covred for Hadi at 61x today. However nobody signed up. I was going to roll
    a little bit with Raul, but got interupped with a drunk woman who needed help.

    I got to roll with Jack.I managed to get to his back many times. The last time I did
    I had the hardest time finishing him. It was a combination of me not wanting to use my 
    weight strengh and him being squrimy and extremly flexible.

    <h3>Some things I have noticed:</h3>
    <ul>
       
        <li>The body triangle:
            The body triangle was definitely needed to control.
        </li>
        <li>
            Following up as he tries to turn to closed guard:
            I dont know if it is a combination of laziness or be subconsiously 
            wanted to practice my closed guard. But I realized a very simple solution to 
            the issue I was having when people turn to closed guard was to follow them up
            and end up in a turtle type position
        </li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</p>
	
    </section>


</MainLayout>