---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="content"></section>
  <a
    href="https://piperrc.github.io/grappling-curriculum/"
    target="_blank">Beginner Curriculum</a
  >
</MainLayout>
