---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>

<section>
  <a href="https://onedrive.live.com/redir?resid=EE28CE3B038962B3%2139264&page=Edit&wd=target%28CLASSES%20NOTES.one%7Cf987dd1b-dd82-47e3-be17-4654eb921c70%2FUntitled%20Page%7Ca82105da-8e85-448f-8282-1231d582c5c0%2F%29&wdorigin=NavigationUrl" target="_blank">onedrive</a>
</section>



</MainLayout>