---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="content">
    <h1>Drill/work on</h1>

    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2197839&parId=EE28CE3B038962B3%2197835&o=OneUp"
      target="_blank"
      >Rear Triangle from hooks in turtle->Danaher closed guard dvd</a
    >

    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2140115&parId=EE28CE3B038962B3%2139676&o=OneUp"
      target="_blank"
      >Rear Triangle from hooks in turtle->Danaher triangle Dvd</a
    >

    <a
      href="https://www.youtube.com/watch?v=WgbPXtkDI18&list=PL5N8UKodqMkb6IHqH-6QchgbbXFY7MavL&index=2"
      target="_blank">Arm Drag Sasai->1:06:51</a
    >
    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%21100943&parId=EE28CE3B038962B3%21100913&o=OneUp"
      target="_blank">Reverse Grip guard pass</a
    >
    <a href="https://www.youtube.com/watch?v=LUku0geYlBk" target="_blank"
      >Knee tap duck under</a
    >

    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2197839&parId=EE28CE3B038962B3%2197835&o=OneUp"
      target="_blank">Closed guard elbow from danaher closed guard</a
    >

    <a
      href="https://onedrive.live.com/?cid=EE28CE3B038962B3&id=EE28CE3B038962B3%2140114&parId=EE28CE3B038962B3%2139676&o=OneUp"
      target="_blank">Correct way to do t kimura rear triangle</a
    >
  </section>
</MainLayout>
