---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="content">
   <a href="https://onedrive.live.com/redir?resid=EE28CE3B038962B3%2139264&page=Edit&wd=target%28WORK%20ON_DRILL.one%7C13fc53b2-d33c-4f7a-bf75-c54106a70766%2FWork%20on%5C%2Fdrill%7C0b3398e6-e03b-46e1-97c1-d44f5fab7480%2F%29&wdorigin=NavigationUrl" target="_blank">Onedrive</a>

  </section>
</MainLayout>
