---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="content"></section>
  <a
    href="https://onedrive.live.com/redir?resid=EE28CE3B038962B3%2139264&page=Edit&wd=target%28GAMEPLANS.one%7C3a1f6c46-0aa5-4f1b-8c22-12f77ad42403%2FSIDE%20CONTROL%7C6338626b-832c-4bf4-9304-88c692ab17cf%2F%29&wdorigin=NavigationUrl"
    target="_blank">Link to onedrive</a
  >
</MainLayout>
