---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="content"></section>
  <a
    href="https://onedrive.live.com/redir?resid=EE28CE3B038962B3%2139264&page=Edit&wd=target%28INSTRUCTIONAL%20NOTES.one%7C748562f9-b10a-4e01-ba4a-58f32776634c%2FUntitled%20Page%7C7e98bacf-0f79-4ea4-9207-16a4a69dba0e%2F%29&wdorigin=NavigationUrl"
    target="_blank">Instructional Notes</a
  >




</MainLayout>