---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="content"></section>
  <a
    href="https://onedrive.live.com/?id=EE28CE3B038962B3%2139588&cid=EE28CE3B038962B3"
    target="_blank">Instructionals on onedrive</a
  >

  <a
  href="https://docs.google.com/spreadsheets/d/1psHTmB2nShVyrMDuUtbsYVfnxRU3gcX1uOTh8-9t2zY/edit#gid=1549503896"
  target="_blank">Instructionals order on google sheets</a
>



</MainLayout>

