---
import MainLayout from "../layouts/MainLayout.astro";
---


<MainLayout>
   <section class="content">

<ul>
    <li>
<a href="https://onedrive.live.com/?id=EE28CE3B038962B3%2139588&cid=EE28CE3B038962B3" target="_blank" rel="noopener noreferrer">One Drive</a>

    </li>

    <li>
<a href="https://docs.google.com/document/d/1SUw6kE2gd9mwbhFJ4hAWLmIs9a17evYeCYSYf0NcNrw/edit" target="_blank" rel="noopener noreferrer">Beginner/61X MMA Curriculum</a>

    </li>

</ul>


   </section>
</MainLayout>