---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="content">
    <ul>
      <li>
        <a
          href="https://onedrive.live.com/?id=EE28CE3B038962B3%2139588&cid=EE28CE3B038962B3"
          target="_blank"
          rel="noopener noreferrer">Instructionals on onedrive</a
        >
      </li>

      <li>
        <a
          href="https://piperrc.github.io/grappling-curriculum/"
          target="_blank"
          rel="noopener noreferrer">Beginner Curriculum </a
        >
      </li>
    </ul>
  </section>
</MainLayout>
