---
import MainLayout from "../layouts/MainLayout.astro";
---


<MainLayout>
   <section class="content">

<h1>time tracker</h1>

<p>marune: <span>320 hrs</span></p>
<p>new amount:</p>

   </section>
</MainLayout>