---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="content"></section>
  <a
    href="https://docs.google.com/spreadsheets/d/1evWh8UmxS6L5ZcFuPfpdCjgIXBy_a4ZzJgNqxjog0N0/edit#gid=0"
    target="_blank">Link to sheets</a
  >
</MainLayout>
