<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">JOURNAL</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/links">Links</a>
          </li>


          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              SPECIFIC AREAS
            </a>

            <ul class="dropdown-menu">

              <li>
                <a class="dropdown-item" href="/areas/kimura">Kimura Trap</a>
              </li>

              <li>
                <a class="dropdown-item" href="/areas/triangle">Triangle</a>
              </li>

            


            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/time_tracker">Time Tracker</a>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              DATES
            </a>

            <ul class="dropdown-menu">

              <li>
                <a class="dropdown-item" href="/dates/2023/nov_23rd">November 23rd 2023</a>
              </li>

              <li>
                <a class="dropdown-item" href="/dates/2023/nov_30th">November 30th 2023</a>
              </li>

              <li><a class="dropdown-item" href="/dates/2023/dec_1st">December 1st 2023</a>
              </li>


            </ul>
          </li>


          


        </ul>
      </div>
    </div>
  </nav>