---
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import Scripts from "../components/Scripts.astro";
---

<!doctype html>
<html lang="en">
  <Header />

  <body>
    <Navigation />

    <main>
      <slot />
    </main>

    <Scripts />
  </body>
</html>
