---
import MainLayout from "../../../layouts/MainLayout.astro";
---

<MainLayout>
  <h1>Jesse Class</h1>

  <section class="content">
    <h2>-Double unders</h2>
    <p>
      Get Double Under and take a lunge step ,arch your back to help with the
      lift.While he is in the air,use other leg to make him turn to the ground
      to finish the takedown.
    </p>
  </section>

  <section class="content">
    <h2>-Rear Bodylock</h2>
    <p>
      Lift him slightly off the the ground ,walk him forward a couple of steps
      and use use other foot to trip him.
    </p>
  </section>

  <section class="content">
    <h2>-Ashi Garami to heel hook attempt to saddle</h2>
    <p>
      Start with Ashi Garami. Get a grip on his knee tendon and point your knee
      to the sky to expose his heel. As he turns,first put your head on the
      floor, then as you turn again,get the saddle by inserting other leg and
      pass his leg over.
    </p>
  </section>

  <section class="content">
    <h2>-Ashi Garami Defence</h2>
    <h3>
      <a
        href="https://youtu.be/A3A5MLIA_Q0?si=KO6biIt-xlmEHhig"
        target="”_blank”">Video from B team youtube video</a
      >
    </h3>
    <p>
      As he trys to put you in ashi,drive your weight towards the leg posted on
      your hip.You can place your hands on the ground. Take a high step with
      other leg .Reach for your pocket and turn
    </p>
  </section>
</MainLayout>
